/* Для экранов с шириной 768 пикселей и меньше */
@media (max-width: 768px) {

    .header-img {
        height: auto; /* Убрать фиксированную высоту изображения */
    }
 
    .card-desc {
        padding-top: 200px; /* Изменить отступ сверху */
    }
 
    .container {
        margin: 0px 20px; /* Уменьшить отступы контейнера */
    }
 
    .button {
        margin: 35px 20px; /* Уменьшить отступы кнопок */
    }
 
    .card-image {
        margin-left: 20px;
        margin-right: 20px; /* Уменьшить отступы изображения карточки */
    }
 
    .price {
        width: 80px; /* Уменьшить ширину цены */
    }
 
    .portfolio-card-wrapper {
        padding-left: 20px;
        padding-right: 20px; /* Уменьшить отступы портфолио-карточек */
    }
 
    .cards-holder {
        flex-direction: column; /* Изменить направление расположения карточек на вертикальное */
    }
 
    .card {
        width: 100%; /* Растянуть карточки на всю ширину экрана */
    }
 
    .card-title {
        font-size: 20px; /* Уменьшить размер шрифта заголовков карточек */
    }
 
    .card-desc {
        font-size: 18px; /* Уменьшить размер шрифта описания карточек */
    }
 }